body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: black;
  margin: 0px;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px 1px;
  grid-template-areas: 
  "header" 
  "content-top" 
  "content-middle" 
  "content-bottom" 
  "footer";
}

.navbar {
  grid-area: header;
  height: 5rem;
  background-color: lightslategray;
  text-align: right;
}

.content-top {
  grid-area: content-top;
  display: flex;
  flex-direction: row;
}

.content-middle {
  grid-area: content-top;
  display: flex;
  flex-direction: row;
}

.content-bottom {
  grid-area: content-top;
  display: flex;
  flex-direction: row;
}

.footer {
  grid-area: footer;
  height: 5rem;
  background-color: lightslategray;
}

.content-top-left {
  margin-right: 2rem;
  width: 33%;
}

#form-container {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 100%;
}

.search-history #list{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.search-history button{
  height: 1.3rem;
  width: 1.3rem;
  border: none;
  color: red;
}

.search-history #list li {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

#input {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  display: inline-block;
  width: 80%;
  height: 100%;
  margin-right: 0.5rem;
  font-size: 22px;
}

#input::placeholder {
  font-style: italic;
}

.search-wrapper {
  display: flex;
  align-items: middle;
  margin-top: 1rem;
  height: 3rem;
}

button#submit {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  width: 3rem;
  font-size: 22px;
  background-color: #fff;
}

.search-history {
  margin-left: 2rem;
}

#map {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  height: 35rem;
  width: 66%;
}

#result-container {
  margin-top: 2rem;
  margin-left: 2rem;
}

h2 {
  font-size: 18px;
}

.h2 {
  font-size: 28px;
  margin-bottom: 2rem;
}

.chart-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar h2 {
  margin-top:1.7rem;
  margin-right: 6rem;
  font-family: 'Noto Serif', serif;
  font-size: 22px;
  font-weight: 500;
  color: white;
}

.search-history {

}

button {
  cursor: pointer;
}

.chart {
  text-align: center;
  display: inline;
  height: 30rem;
  width: 30rem;
  margin: 0px;
}

.chart div{
  display: inline-block;
  margin-right: 5%;
}
