body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: black;
  margin: 0px;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px 1px;
  grid-template-areas:
  "header"
  "content-top"
  "content-middle"
  "content-bottom"
  "footer";
}

.navbar {
  grid-area: header;
  height: 5rem;
  background-color: #c4114b;
  text-align: right;
}

.content-top {
  grid-area: content-top;
  display: flex;
  flex-direction: row;
}

.content-middle {
  grid-area: content-top;
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
}

#charts {
  margin: 0px;
  padding: 0px;
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
}

#grid-item-5{
  color: #c4114b;
}

#grid-item-6{
  color: #15A5CC;
}

#grid-item-7{
  color: #c4114b;
}

#grid-item-8{
  color: #15A5CC;
}

.chart {
  margin: 0px;
  height: 24rem;
  width: 24rem;
  /* //width: 49%; */
}
/* ============================ DATA: */

.grid-summary-retweets{
  display: grid;
  width: 30%;
  margin-left: 0rem;
  margin-right: 2rem;
  height: 6rem;
  grid-template-columns: 1fr 1fr;
  border-bottom: grey solid 2px;
  text-align: center;
  /* padding-right: 10rem; */
}

.grid-summary-favourites{
  display: grid;
  width: 30%;
  margin-left: 0rem;
  margin-right: 2rem;
  height: 6rem;
  grid-template-columns: 1fr 1fr;
  border-bottom: grey solid 2px;
  text-align: center;
  /* padding-right: 10rem; */
}

.content{
  font-size: 2rem;

}
.content-bottom {
  grid-area: content-top;
  display: flex;
  flex-direction: row;
}
/* --------------------charts: */
.showFlex{
  margin: 4rem 0 4rem;
  display: flex;
  flex-direction: row;
}

.footer {
  grid-area: footer;
  height: 5rem;
  background-color: #58595b;
}

.content-top-left {
  margin-top: 2rem;
  margin-right: 2rem;
  width: 33%;
}

.content-top-left-text {
  margin-left: 2rem;
}

#form-container {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 100%;
}

.search-history #list{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.search-history button{
  height: 1.3rem;
  width: 1.3rem;
  vertical-align: middle;
  border: none;
  color: #c4114b;
}

.search-history #list li {
  display: inline-block;
  height: 1.3rem;
  margin-right: 1rem;
  margin-bottom: 0.8rem;
  vertical-align: middle;
}

#input {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  display: inline-block;
  width: 80%;
  height: 100%;
  margin-right: 0.5rem;
  font-size: 22px;
  background-color: rgb(242, 242, 244);
}

#input::placeholder {
  font-style: italic;
}

.search-wrapper {
  display: flex;
  align-items: middle;
  margin-top: 1rem;
  height: 3rem;
}

button#submit {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  width: 3rem;
  font-size: 22px;
  background-color: #fff;
  border-radius: 12%;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,2,0.22);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,2,0.22);
  box-shadow: 0px 0px 3px 0px rgba(0,0,2,0.22);
}

button#submit:hover{
 background-color: #15A5CC;
 color: white;
}

.search-history {
  margin-left: 2rem;
  margin-bottom: 0rem;
  color: #757575
}

#map {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  height: 35rem;
  width: 66%;
}

#loading-overlay {
  position: absolute;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  right: 0;
  height: 35rem;
  width: 62.2%;
  z-index: 99;
  background-color: #58595b;
  justify-self: flex-end; 
  opacity: 0.7;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#loading-modal{
  background-color: white;
  position: absolute;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  top: 39%;
  right: 21%;
  height: 6rem;
  width: 20%;
  z-index: 999;
  justify-self: flex-end; 
  opacity: 1;
  color: black;
}

#result-container {
  margin-top: 2rem;
  margin-left: 2rem;
}

h2 {
  font-size: 18px;
}

.h2 {
  font-size: 28px;
  font-weight: normal;
}

.navbar h2 {
  margin-top:1.7rem;
  margin-right: 6rem;
  font-family: 'Noto Serif', serif;
  font-size: 22px;
  font-weight: 500;
  color: white;
}

button {
  cursor: pointer;
}


ul#search-results-list {
  color: black;
  background-color: white;
  background-clip: content-box;
  padding-left: 100px;
  padding-right: 250px;
}


.hidden {
  display: none; 
}
