body {
  font-family: 'Hind Madurai', sans-serif;
  font-size: 18px;
  color: black;
}

#form-container {
  margin-top: 2rem;
  margin-left: 2rem;
}

#result-container {
  margin-top: 2rem;
  margin-left: 2rem;
}

h2 {
  font-size: 18px;
}

#map{
  margin-bottom: 2rem;
  height: 50rem;
  width: 50rem;
}

input#submit {
  cursor: pointer;
}
button {
  cursor: pointer;
}

.chart {
  display: inline;
  height: 20vh;
  width: 20vh;
}

.chart div{
  display: inline-block;
  margin-right: 5%;
}
